$headingColor: #252222;
$whiteColor: #fff;
$baseOverlayColor: rgba(0,0,0, 0.2);
$brandColor: #65ba99; 
$brandColor06: rgba(101, 186, 153, .6); 
$testimonialColor: #62473a;
$backgroundPrimaryColor: #cdcdcd;
$accentColor: #e74c3c;
$greyColor: #676767;
$sponsorColor: #bebebe;